TasksManager/TasksManager/obj/
TasksManager/TasksManager/bin/
TasksManager/TaskManager.DataAccess/obj/
TasksManager/TaskManager.DataAccess/bin/
TasksManager/TaskManager.ApplicationServices/obj/
TasksManager/TaskManager.ApplicationServices/bin/


