TasksManager/TasksManager/obj/
TasksManager/TasksManager/bin/
TasksManager/TaskManager.DataAccess/obj/
TasksManager/TaskManager.DataAccess/bin/
TasksManager/TaskManager.ApplicationServices/obj/
TasksManager/TaskManager.ApplicationServices/bin/
TasksManager/TaskManager.Blazor/obj/
TasksManager/TaskManager.Blazor/bin/
TasksManager/TaskManager.Tests/obj/
TasksManager/TaskManager.Tests/bin/


