@page "/companies"
@attribute [Authorize]
@inject ICompanyService CompanyService

<div class="container">
<div class="card mt-4">
    <h4 class="card-header">Company Info</h4>
    <div class="card-body">
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
        @if (company != null)
        {
            @foreach (var item in company)
             {
             <div class="card mt-4">
                 <div style="padding:20px">
                     <h5>Company Name: @item.Description</h5>
                     <h5>Company Manager: @item.Manager.Name @item.Manager.Surname</h5>
                 </div>                  
             </div>
             }
        }
    </div>
</div>
</div>


@code {
    private bool loading;
    private IEnumerable<Company> company;

    protected override async Task OnInitializedAsync()
    {
        
        loading = true;
        company = await CompanyService.GetAll();
        loading = false;
    }
}
