@page "/customers/{id}"
@attribute [Authorize]
@inject ICustomerService CustomerService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="container">
    <div class="row" style="display:flex; justify-content:center; margin:20px">
        <div class="col-xl-6">
            <div class="row">
                <div class="col">
                    <RadzenTemplateForm TItem="Customer" Data=@customer Submit=@OnSubmit>
                        <RadzenFieldset Text="Personal information">
                            <div class="row" style="margin-bottom: 48px">
                                <div class="col-md-4 align-right">
                                    <RadzenLabel Text="Name" />
                                </div>
                                <div class="col">
                                    <RadzenTextBox style="display: block" Name="Name" @bind-Value=@customer.Name />
                                    <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=@popup Style="position: absolute" />
                                </div>
                            </div>
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>

                            <RadzenButton Click=@Cancel Text="Cancel" ButtonStyle="ButtonStyle.Info" />
                        </RadzenFieldset>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code
{ [Parameter]

    public string id { get; set; }

    private bool popup = false;

    private Customer customer = new Customer();

    protected override async Task OnInitializedAsync()
    {
        customer = await CustomerService.GetById(Convert.ToInt32(id));
    }

    private async Task OnSubmit()
    {
        await CustomerService.Update(customer);
        navigationManager.NavigateTo("/customers");
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("/customers");
    }
}