@page "/employees/{ID}"
@attribute [Authorize]
@inject IEmployeeService EmployeeService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="Name" class="control-label">Name</label>
                        <input for="Name" class="form-control" @bind-value="@employee.Name" />

                        <label for="Number" class="control-label">Surname</label>
                        <input for="Number" class="form-control" @bind-value="@employee.Surname" />

                        <input type="hidden" @bind-value="@employee.Id" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @onclick="() => UpdateBookCase()">Save</button>
                        <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @code  { [Parameter]
        public string ID { get; set; }

        Employee employee = new Employee();

        protected override async Task OnInitializedAsync()
        {
            employee = await EmployeeService.GetById(Convert.ToInt32(ID));
        }

        protected async Task UpdateBookCase()
        {
            await EmployeeService.Update(employee);
            navigationManager.NavigateTo("/employees");
        }

        void cancel()
        {
            navigationManager.NavigateTo("/employees");
        } }
