@page "/employees/{id}"
@attribute [Authorize]
@inject IEmployeeService EmployeeService
@inject ILocalStorageService LocalStorageService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="Name" class="control-label">Name</label>
                        <input for="Name" class="form-control" @bind-value="@employee.Name" />

                        <label for="Number" class="control-label">Surname</label>
                        <input for="Number" class="form-control" @bind-value="@employee.Surname" />

                        <input type="hidden" @bind-value="@employee.Id" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" @onclick="() => UpdateEmployee()">Save</button>
                        <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @code  {
        [Parameter]
        public string id { get; set; }

        Employee employee = new Employee();
        Auth auth;

        protected override async Task OnInitializedAsync()
        {
            employee = await EmployeeService.GetById(Convert.ToInt32(id));
            auth = await LocalStorageService.GetItem<Auth>("auth");
        }

        protected async Task UpdateEmployee()
        {
            await EmployeeService.Update(employee);

            if(auth.RoleType == RoleType.Manager)
            {
                navigationManager.NavigateTo("/employees");
            }

            if (auth.RoleType == RoleType.Employee)
            {
                navigationManager.NavigateTo("/me");
            }
        }

        void cancel()
        {
            navigationManager.NavigateTo("/employees");
        } }
